{% extends 'index.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

    <title>Search up - 404</title>

{% block content %}

                <div class="container-fluid">

                    <div class="text-center">
                        <div class="error mx-auto" data-text="404">404</div>
                        <p class="lead text-gray-800 mb-5">Nie znaleziono strony</p>
                        <p class="text-gray-500 mb-0">Znalazłeś lukę w Matrixie...</p>
                        <a href="{% url 'home' %}">&larr; Strona główna </a>
                    </div>

                </div>

{% endblock %}

</html>